.tooltip{
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, .6);
  padding: .5rem;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: .875rem;
  max-width: 150px;
  border-radius: 2px;
  top: 0;
  left: 0;
}